<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Basics</title>
    <script src="angular.js"></script>
    <script src="app.js"></script>
</head>
<body>

    <div ng-controller="PostCtrl">
        
        <select name="player1Type" ng-model="playerOneType">
            <option value="Ninja">Ninja</option>
            <option value="Samurai">Samurai</option>
            <option value="Brawler">Brawler</option>
        </select>
        <button ng-click="beginFight()">Get man info</button>
        <select name="player2Type" ng-model="playerTwoType">
            <option value="Ninja">Ninja</option>
            <option value="Samurai">Samurai</option>
            <option value="Brawler">Brawler</option>
        </select>
        <h2>Player One</h2>
        <ul>
            <li ng-repeat="(key, value) in player1">{{key}}: {{value}}</li>
        </ul>
        <h2>Player Two</h2>
        <ul>
            <li ng-repeat="(key, value) in player2">{{key}}: {{value}}</li>
        </ul>

        <input type="text" ng-model="goesFirst">

        <h2>Fight log</h2>
        <ul>
            <li ng-repeat="msg in fightLog track by $index">{{$index}}) {{msg}}</li>
        </ul>

    </div>

</body>
</html>

