<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Fight Time</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="angular.js"></script>
    <script src="models.js"></script>
    <script src="app.js"></script>
</head>
<body>

    <div ng-controller="PostCtrl">
        
        <div class="row">
            <div class="col-md-4 text-right">
                <select name="player1Type" ng-model="playerOneType" class="input-lg">
                    <option value="Ninja">Ninja</option>
                    <option value="Samurai">Samurai</option>
                    <option value="Brawler">Brawler</option>
                </select>
            </div>
            <div class="col-md-4">
                <button class="btn-lg center-block btn btn-danger" ng-click="beginFight()">Fight!</button>
            </div>
            <div class="col-md-4">
                <select name="player2Type" ng-model="playerTwoType" class="input-lg">
                    <option value="Ninja">Ninja</option>
                    <option value="Samurai">Samurai</option>
                    <option value="Brawler">Brawler</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-right">
                <h2>Player One</h2>
                <ul class="list-unstyled"><li ng-repeat="(key, value) in player1 | ignore: health">{{key}}: {{value}}</li></ul>
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Fight log</h2>
                <ul class="list-group"><li class="list-group-item" ng-repeat="msg in fightLog track by $index">{{msg}}</li></ul>
            </div>
            <div class="col-md-4">
                <h2>Player Two</h2>
                <ul class="list-unstyled"><li ng-repeat="(key, value) in player2">{{key}}: {{value}}</li></ul>
            </div>
        </div>
    </div>

</body>
</html>

